<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SLDS To-Do List</title>
  <link rel="stylesheet" href="https://unpkg.com/@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="cont ">
  <div >
    <div class="slds-card ">
      <div class="slds-card__header  slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate slds-grid_align-spread">
          <div class="box1">
            <div class="box-r">
              <div class="col">
                  <i  class="fa-solid fa-list todoIcon"></i>
              </div>
            </div>
            <div class="box-r">
              <div class="col">
                <h1>Tasks</h1>
                <h3 id="r">All Tasks</h3>
              </div>
            </div>
          </div>
          <div class="box2">
            <div class="contr">
              <div class="row">
                <div class="box">
                  <button class="btn-in-out slds-button slds-button_brand btn-set" (click)="openModal()">New Task</button>
                  <button class="btn-in-out btn-set slds-button slds-button_neutral" (click)="refreshTableData()">Refersh</button>
                </div>
              </div>
              <div class="row">
                <div class="box">
                  <input type="text" id="search-input" class="slds-input" placeholder="Search...">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <hr class="slds-m-around_medium slds-border_top" />
      <div class="slds-card__body slds-card__body_inner">
        <div class="card-body">
          <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
            <tr class="slds-line-height_reset">
              <th scope="col">
                <input type="checkbox">
              </th>
              <th scope="col">
                <h4>Assigned To</h4>
              </th>
              <th scope="col">
                <h4>Status</h4>
              </th>
              <th scope="col">
                <h4>Due Date</h4>
              </th>
              <th scope="col">
                <h4>Priority</h4>
              </th>
              <th scope="col">
                <h4>Comments</h4>
              </th>
            </tr>
            <tbody>
              <tr *ngFor="let row of tableData" class="slds-hint-parent">
                  <td data-label="Check">
                    <input type="checkbox">
                  </td>
                  <td data-label="AssignedTo">
                      <div class="slds-truncate" title="{{row.AssignedTo}}">{{row.AssignedTo}}</div>
                  </td>
                  <td data-label="Status">
                      <div class="slds-truncate" title="{{row.status}}">{{row.status}}</div>
                  </td>
                  <td data-label="AssignedTo">
                    <div class="slds-truncate" title="{{row.date}}">{{row.date}}</div>
                </td>
                <td data-label="Email">
                    <div class="slds-truncate" title="{{row.priority}}">{{row.priority}}</div>
                </td>
                <td data-label="Status">
                    <div class="slds-truncate" title="{{row.Description}}">{{row.Description}}</div>
                </td>
              </tr>
          </tbody>
          </table>
        </div>
      </div>
      <footer class="slds-card__footer ">
          <div class="box">

          </div>
      </footer>
    </div>
  </div> 
  <!-- comment  
  <app-popup></app-popup>
  -->
  <div class="slds-m-around_medium">
    <!-- Button to open modal 
    <button class="slds-button slds-button_brand" (click)="openModal()">Add Row</button>
    -->
    <!-- Table display 
    <div class="slds-scrollable_y slds-m-top_medium">
        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
            <thead>
                <tr class="slds-line-height_reset">
                    <th scope="col">
                        <div class="slds-truncate" title="Name">Name</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Email">Email</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Status">Status</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableData" class="slds-hint-parent">
                    <td data-label="Name">
                        <div class="slds-truncate" title="{{row.name}}">{{row.name}}</div>
                    </td>
                    <td data-label="Email">
                        <div class="slds-truncate" title="{{row.email}}">{{row.email}}</div>
                    </td>
                    <td data-label="Status">
                        <div class="slds-truncate" title="{{row.status}}">{{row.status}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
-->
    <!-- Modal implementation using SLDS -->
    <section *ngIf="isModalOpen" role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open ">
      <div class="slds-modal__container slds-box slds-p-around_none slds-box slds-borde pa">
        <!-- Modal/Popup header -->
        <header class="slds-modal__header">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" (click)="closeModal()">
              <i class="fa-solid fa-x"></i>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2 class="slds-text-heading_medium">New Task</h2>
        </header>
        <!-- Modal/Popup body -->
        <div class="slds-modal__content slds-p-around_medium">
          <div class="row">
            <div class="col slds-m-around_medium">
              <label for="" class="slds-form-element__label"><abbr class="slds-required" title="required">*</abbr>Assigned To</label>
              <select id="dropdown" class="k" name="options" (change)="user($event)">
                <option value="select" >select</option>
                <option value="User 1" >User 1</option>
                <option value="User 2">User 2</option>
                <option value="User 3">User 3</option>
                <option value="User 4">User 4</option>
              </select>
            </div>
            <div class="col slds-m-around_medium">
              <label for="" class="slds-form-element__label"><abbr class="slds-required" title="required">*</abbr>Status</label>
              <select id="dropdown" class="k" name="options" (change)="status($event)">
                <option value="select" >select</option>
                <option value="Not Started" >Not Started</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col slds-m-around_medium">
              <div class="slds-form-element ">
                <label class="slds-form-element__label" for="date"><abbr class="slds-required" title="required">*</abbr>Due Date</label>
                <div class="slds-form-element__control">
                    <input type="date" id="date" class="slds-input k input" (change)="date($event)"/>
                </div>
               </div>
            </div>
            <div class="col slds-m-around_medium">
                <label for="" class="slds-form-element__label"><abbr class="slds-required" title="required">*</abbr>Priority</label>
                <select id="dropdown" class="k" name="options" (change)="priority($event)">
                  <option value="select" >select</option>
                  <option value="Low" >Low</option>
                  <option value="Normal">Normal</option>
                  <option value="high">high</option>
                </select>
            </div>
          </div>
          <div class="row">
            <div class="col slds-m-around_medium textarea">
              <div class="slds-form-element">
                <label class="slds-form-element__label" for="textarea-id">
                  <abbr class="slds-required" title="required">*</abbr> Description
                </label>
                <div class="slds-form-element__control">
                  <textarea id="textarea-id" class="slds-textarea" required (change)="Description($event)"></textarea> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal/Popup footer -->
        <footer class="slds-modal__footer">
          <button class="slds-button slds-button_neutral" (click)="closeModal()">Cancel</button>
          <button class="slds-button slds-button_success" (click)="addRow(); closeModal()">Save</button>
        </footer>
      </div>
    </section>
    
</div>
</div>
</body>
</html>
