<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SLDS To-Do List</title>
  <link rel="stylesheet" href="https://unpkg.com/@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="cont ">
  <div >
    <div class="slds-card ">
      <div class="slds-card__header  slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate slds-grid_align-spread">
          <div class="box1">
            <div class="box-r">
              <div class="col">
                  <i  class="fa-solid fa-list todoIcon"></i>
              </div>
            </div>
            <div class="box-r">
              <div class="col">
                <h1>Tasks</h1>
                <h3 id="r">All Tasks</h3>
              </div>
            </div>
          </div>
          <div class="box2">
            <div class="contr">
              <div class="row">
                <div class="box">
                  <button class="btn-in-out slds-button slds-button_brand btn-set" (click)="openModal()">New Task</button>
                  <button class="btn-in-out btn-set slds-button slds-button_neutral" (click)="refreshTableData()">Refersh</button>
                </div>
              </div>
              <div class="row">
                <div class="box">
                  <input type="text" id="search-input" class="slds-input" placeholder="Search...">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <hr class="slds-m-around_medium slds-border_top" />
      <div class="slds-card__body slds-card__body_inner">
        <div class="card-body">
          <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_col-bordered slds-table_striped">
            <tr class="slds-line-height_reset">
              <th scope="col">
                <div class="slds-form-element">
                  <label class="slds-checkbox">
                    <input type="checkbox" name="checkbox" id="checkbox-1" value="option1" />
                    <span class="slds-checkbox_faux"></span>
                  </label>
                </div>
              </th>
              <th scope="col"><h4>Assigned To</h4></th>
              <th scope="col"><h4>Status</h4></th>
              <th scope="col"><h4>Due Date</h4></th>
              <th scope="col"><h4>Priority</h4></th>
              <th scope="col"><h4>Comments</h4></th>
              <th scope="col"><h4>Actions</h4></th>
            </tr>
            <tbody>
              <tr *ngFor="let row of tableData; let i = index" class="slds-hint-parent">
                  <td data-label="Check">
                    <div class="slds-form-element">
                      <label class="slds-checkbox">
                        <input type="checkbox" name="checkbox" id="checkbox-1" value="option1" />
                        <span class="slds-checkbox_faux"></span>
                      </label>
                    </div>
                  </td>
                  <td data-label="AssignedTo"><div class="slds-truncate" title="{{row.AssignedTo}}">{{row.AssignedTo}}</div></td>
                  <td data-label="Status"><div class="slds-truncate" title="{{row.status}}">{{row.status}}</div></td>
                  <td data-label="AssignedTo"><div class="slds-truncate" title="{{row.date}}">{{row.date}}</div></td>
                  <td data-label="Email"><div class="slds-truncate" title="{{row.priority}}">{{row.priority}}</div></td>
                  <td data-label="Status"><div class="slds-truncate" title="{{row.Description}}">{{row.Description}}</div></td>
                  <td data-label="Edit">
                      <button *ngIf="editIndex !== i" (click)="openModal(i)" class="slds-button slds-button_neutral">Edit</button>
                      <button (click)="deleteRow(i)" class="slds-button slds-button_destructive">Delete</button>
                  </td>
              </tr>
          </tbody>
          </table>
        </div>
      </div>
      <footer class="slds-card__footer">
          <div class="box dix">
            <button class="btn-in-out btn-set slds-button slds-button_neutral co">20</button>
            <div class="">
              <button class="btn-in-out slds-button slds-button_brand btn-set co">First</button>
              <button class="btn-in-out btn-set slds-button slds-button_neutral co">Next</button>
              <button class="btn-in-out btn-set slds-button slds-button_neutral co">Prev</button>
            </div>
          </div>
      </footer>
    </div>
  </div> 
  <div class="slds-m-around_medium">
    <!-- Modal implementation using SLDS -->
    <section *ngIf="isModalOpen" role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open conte">
      <div class="slds-modal__container slds-box slds-p-around_none slds-box slds-borde pa">
        <!-- Modal/Popup header -->
        <header class="slds-modal__header">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse slds-box" title="Close" (click)="closeModal()">
              <i class="fa-solid fa-x"></i>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2 class="slds-text-heading_medium">{{ editIndex !== null ? 'Edit Task' : 'New Task' }}</h2>
        </header>
        <!-- Modal/Popup body -->
        <div class="slds-modal__content slds-p-around_medium">
          <div class="row">
            <div class="col slds-m-around_medium">
              <label for="assignedTo" class="slds-form-element__label"><abbr class="slds-required" title="required">*</abbr>Assigned To</label>
              <select id="assignedTo" class="k" name="options"  [(ngModel)]="formData.AssignedTo">
                <option value="User 1" >User 1</option>
                <option value="User 2">User 2</option>
                <option value="User 3">User 3</option>
                <option value="User 4">User 4</option>
              </select>
            </div>
            <div class="col slds-m-around_medium">
              <label for="status" class="slds-form-element__label"><abbr class="slds-required" title="required">*</abbr>Status</label>
              <select id="status" class="k" name="options" [(ngModel)]="formData.status">
                <option value="Not Started" >Not Started</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col slds-m-around_medium">
              <div class="slds-form-element ">
                <label class="slds-form-element__label" for="date"><abbr class="slds-required" title="required">*</abbr>Due Date</label>
                <div class="slds-form-element__control">
                    <input type="date" id="date" class="slds-input k input" [(ngModel)]="formData.date"/>
                </div>
               </div>
            </div>
            <div class="col slds-m-around_medium">
                <label for="priority" class="slds-form-element__label"><abbr class="slds-required" title="required">*</abbr>Priority</label>
                <select id="priority" class="k" name="options" [(ngModel)]="formData.priority">
                  <option value="Low" >Low</option>
                  <option value="Normal">Normal</option>
                  <option value="high">high</option>
                </select>
            </div>
          </div>
          <div class="row">
            <div class="col slds-m-around_medium textarea">
              <div class="slds-form-element">
                <label class="slds-form-element__label" for="description">
                  <abbr class="slds-required" title="required">*</abbr> Description
                </label>
                <div class="slds-form-element__control">
                  <textarea id="description" class="slds-textarea" [(ngModel)]="formData.Description"></textarea> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal/Popup footer -->
        <footer class="slds-modal__footer">
          <button class="slds-button slds-button_neutral" (click)="closeModal()">Cancel</button>
          <button class="slds-button slds-button_success" (click)="saveTask()">{{ editIndex !== null ? 'Save Changes' : 'Add Task' }}</button>
        </footer>
      </div>
    </section>
  </div>
</div>
</body>
</html>
